.html{
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

.body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #04457b;
}

.header{
    margin: 20px;
    padding-left: 160px; 
    background-color: rgb(36, 47, 71);
    color: rgb(210, 231, 243);
}

